services:
  crowdsec:
    image: "crowdsecurity/crowdsec:v1.7.3"
    environment:
      - COLLECTIONS=crowdsecurity/nginx crowdsecurity/http-cve crowdsecurity/whitelist-good-actors
      - GID=${PGID}
      - CUSTOM_HOSTNAME=${SUBDOMAIN}.${ROOT_DOMAIN}
    volumes:
      - ${ROOT_DATA_MOUNT}/swag/config/log/nginx:/var/log/nginx
      - ${ROOT_DATA_MOUNT}/crowdsec/data:/var/lib/crowdsec/data/
      - ${ROOT_DATA_MOUNT}/crowdsec/config:/etc/crowdsec/
      - /var/log:/var/log/host:ro
    deploy:
      placement:
        constraints:
          - node.hostname == ${NODE_4_HOSTNAME}
    networks:
      - internal-network
    labels:
      - homepage.group=Monitoring
      - homepage.name=Home Crowdsec Status
      - homepage.icon=crowdsec.png
      - homepage.description=Container Status
      - wud.watch=true
      - wud.display.name=Crowdsec
      - wud.display.icon=si:crowdsec

networks:
  internal-network:
    external: true

volumes:
  config:
  data:
