services:
  influxdb:
    image: influxdb:2.7.10
    volumes:
      - ${ROOT_DATA_MOUNT}/grafana/influxdb-storage:/var/lib/influxdb2
      - ${ROOT_DATA_MOUNT}/grafana/influxdb-config:/etc/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=home_assistant
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_ADMIN_TOKEN}
    networks:
      grafana:
      internal-network:
    deploy:
      placement:
        constraints:
          - node.hostname == ${NODE_4_HOSTNAME}
  grafana:
    image: grafana/grafana-oss:12.3.2
    user: "0"
    volumes:
      - ${ROOT_DATA_MOUNT}/grafana/grafana-storage:/var/lib/grafana
      - ${ROOT_DATA_MOUNT}/grafana/grafana-provisioning/:/etc/grafana/provisioning
    depends_on:
      - influxdb
    environment:
      GF_SERVER_ROOT_URL: https://${GRAFANA_SUBDOMAIN}.${ROOT_DOMAIN}
      GF_SECURITY_ADMIN_USER: ${GRAFANA_USERNAME}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASSWORD}
      GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
      GF_AUTH_GENERIC_OAUTH_NAME: "authentik"
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "${GRAFANA_CLIENT_ID}"
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "${GRAFANA_CLIENT_SECRET}"
      GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email"
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://${AUTH_SUBDOMAIN}.${ROOT_DOMAIN}/application/o/authorize/
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://${AUTH_SUBDOMAIN}.${ROOT_DOMAIN}/application/o/token/
      GF_AUTH_GENERIC_OAUTH_API_URL: https://${AUTH_SUBDOMAIN}.${ROOT_DOMAIN}/application/o/userinfo/
      GF_AUTH_SIGNOUT_REDIRECT_URL: https://${AUTH_SUBDOMAIN}.${ROOT_DOMAIN}/application/o/grafana/end-session/
      GF_AUTH_OAUTH_AUTO_LOGIN: "true"
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'"
    networks:
      grafana:
      internal-network:
        aliases:
          - grafana-chronograf
    deploy:
      placement:
        constraints:
          - node.hostname == ${NODE_4_HOSTNAME}

networks:
  internal-network:
    external: true
  grafana: