services:
  myelectricaldata:
    image: m4dm4rtig4n/myelectricaldata:0.13.4
    volumes:
    - ${ROOT_DATA_MOUNT}/home-assistant/my-electrical-data:/data
    environment:
      TZ: ${TZ}
    networks:
      internal-network:
    deploy:
      placement:
        constraints:
          - node.hostname == ${NODE_3_HOSTNAME}
networks:
  internal-network:
    external: true