services:
  frigate:
    stop_grace_period: 30s
    image: ghcr.io/blakeblackshear/frigate:${FRIGATE_VERSION}
    cap_add:
      - CAP_PERFMON
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_DATA_MOUNT}/frigate/config:/config
      - ${ROOT_DATA_MOUNT}/frigate/storage:/media/frigate
      - /dev/dri/renderD128:/dev/dri/renderD128
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
      - type: tmpfs
        target: /dev/shm
        tmpfs:
          size: 2000000000
    environment:
      FRIGATE_RTSP_PASSWORD: ${FRIGATE_RTSP_PASSWORD}
      LIBVA_DRIVER_NAME: i965
      PLUS_API_KEY: ${PLUS_API_KEY}
    networks:
      internal-network:
    deploy:
      placement:
        constraints:
          - node.hostname == ${NODE_5_HOSTNAME}
networks:
  internal-network:
    external: true